.popupbg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vw;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: visible;
}

.popupdialog {
    position: relative;
    top: 50vh;
    right: 0;
    display: flex;
    align-items: center;
    /* max-width: 800px;
    max-height: 599px; */
    width: 350px;
    height: 550px;
    background-color: white;
    transition: 0.74s ease-in-out;
    z-index: 3;
}
    
.topright {
    position: absolute;
    top: -250px;
    right: -300px;
}